.navbar {
    border-bottom: 1px solid #ddd;
}

p {
    padding: 1em; /* Adjust as needed */
}

.image-link img {
    width: 50px; /* Adjust as needed */
    height: auto;
    cursor: pointer;
}

.image-link img:hover {
    opacity: 0.7;
}